In [1]:
#demo list
demo_list = ["abs", 562.52, "lyno", "Elias"]
print(demo_list)

['abs', 562.52, 'lyno', 'Elias']

In [3]:
r = range(1,5)
#print(r)
list(r)

[1, 2, 3, 4]

In [6]:
#accessing values in a list
friends = ["Jns", "Emm", "Joss"]
friends[0]

'Jns'

In [7]:
friends = ["Jns", "Emm", "Joss"]
friends[-1]

'Joss'

In [10]:
#checking true of false
friends = ["Jns", "Emm", "Joss"]
"Joss" in friends

True

In [11]:
#iterating/accessing all the list with for loop
friends = ["Jns", "Emm", "Joss"]
for friend in friends:
    print(friend)

Jns
Emm
Joss

In [14]:
#while loop iteration
nums = [1,"Elipse",33,"Snow",5]
i = 0

while i < len(nums):
    print(nums[i])
    i += 1

1
Elipse
33
Snow
5

In [15]:
#printing with nums
colors = ["pink","blue","red","yellow"]
index = 0

while index < len(colors):
    print(f"{index}: {colors[index]}")
    index += 1

0: pink
1: blue
2: red
3: yellow

In [18]:
#LIST METHODS
#adding values
#1.append list
mylist = [1,2,3]
mylist.append("Jnak25")
print(mylist)

[1, 2, 3, 'Jnak25']

In [17]:
#2.extend
clist = [1,2,3]
clist.extend([4,5,6,7,8])
print(clist)

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
#3.insert
mylis = [1,2,3]
mylis.insert(1, 'Hi!')
print(mylis)

[1, 'Hi!', 2, 3]

In [20]:
mylis.insert(-1, 'The end')
print(mylis)

[1, 'Hi!', 2, 'The end', 3]

In [21]:
#list method clear, pop and remove
#1.clear
lista = [1,3,56]
lista.clear()
print(lista)

[]

In [22]:
#2.pop
itms = ["socks","iron","net","mulla"]
itms.pop()

'mulla'

In [23]:
itms.pop(1)

'iron'

In [24]:
itms

['socks', 'net']

In [26]:
#to del and store the value of variable is as follows
itm = ["socks","iron","net","mulla"]
first = itm.pop(2)
first

'net'

In [27]:
itm

['socks', 'iron', 'mulla']

In [28]:
#3.remove
lss = [1,2,3,4,4]
lss.remove(2)
print(lss)

[1, 3, 4, 4]

In [29]:
lss.remove(4)
print(lss)

[1, 3, 4]

In [30]:
#list method index, count, sort, reverse and join
#1.index
lms = [5,6,7,8,9,10]
lms.index(6)

1

In [31]:
lms.index(9)

4

In [32]:
lmsf = [5,5,6,7,8,9,8,5,10]
lmsf.index(5)

0

In [33]:
lmsf.index(5, 1)

1

In [34]:
lmsf.index(5, 2)

7

In [35]:
lmsf.index(8, 6, 8)

6

In [36]:
#2.count
ct = [2,5,8,9,6,4,6,52,5,2,6,6,4,9,63,2]
ct.count(5)

2

In [37]:
ct.count(2)

3

In [38]:
#3.reverse
r = ["a",5,"b","c","d"]
r.reverse()
print(r)

['d', 'c', 'b', 5, 'a']

In [40]:
#4.sort
s = ["b","a","e","d","c"]
s.sort()
print(s)

['a', 'b', 'c', 'd', 'e']

In [43]:
#5.join
words = ["coding", "is", "fun"]
' '.join(words)

'coding is fun'

In [44]:
name = ["Mr","Jones"]
'. '.join(name)

'Mr. Jones'

In [1]:
#SLICING it has Start,end and step
#1.start(first parameter for slice)
flist = [1,2,3,4]
flist[1:]

[2, 3, 4]

In [2]:
flist[3:]

[4]

In [3]:
flist

[1, 2, 3, 4]

In [4]:
#if I use -ves
flist[-1:]

[4]

In [6]:
flist[-3:]

[2, 3, 4]

In [7]:
#2.end
flis = [1,2,"blue","cols"]
flis[:2]

[1, 2]

In [8]:
flis[:4]

[1, 2, 'blue', 'cols']

In [9]:
flis[1:3]

[2, 'blue']

In [10]:
flis

[1, 2, 'blue', 'cols']

In [11]:
flis[:-1]

[1, 2, 'blue']

In [12]:
flis[1:-1]

[2, 'blue']

In [13]:
#3.step
tlist = [1,2,3,4,5,6]
tlist[1::2] #starts at 1 and skips once subsequently

[2, 4, 6]

In [14]:
tlist[::2]

[1, 3, 5]

In [15]:
tlist[::3]

[1, 4]

In [16]:
tlist

[1, 2, 3, 4, 5, 6]

In [17]:
tlist.insert(2,"trees")
print(tlist)

[1, 2, 'trees', 3, 4, 5, 6]

In [18]:
tlist[1::-1]

[2, 1]

In [19]:
tlist[:1:-1]

[6, 5, 4, 3, 'trees']

In [20]:
#tricks with slice
str = "This is fun dude!"
str[::-1]

'!edud nuf si sihT'

In [24]:
nibs = [1,2,3,4,5]
nibs[1:3] = ['a','b','c']
print(nibs)

[1, 'a', 'b', 'c', 4, 5]

In [25]:
#SWAPPING VALUES IN A LIST
nams = ["Jones","Rocq"]
nams[0],nams[1] = nams[1],nams[0]
print(nams)

['Rocq', 'Jones']

In [26]:
#tactic join
' '.join(nams)

'Rocq Jones'

In [27]:
''.join(nams)

'RocqJones'